<div class="full-height full-width flexColumn image main">
  <div class="interactions-container padding-m">
    <ion-button [disabled]="isLoading" (click)="getUserLocationWeather()">
      <ion-icon class="padding-m" name="compass-outline"></ion-icon>
      {{platform.width() >= 420 ? 'Get weather by my location' : 'Location'}}
    </ion-button>
    <div class="flexRow interactions colOnMob">
      <div class="searchbar flexHalf textLeft">
        <app-searchbar-with-dropdown [entries]="countries" label="Select country:" (selection)="countrySelected($event)">
        </app-searchbar-with-dropdown>
      </div>
      <div class="searchbar flexHalf textLeft">
        <app-searchbar-with-dropdown [entries]="cities" label="Select city:" [disabled]="!chosenCountry || (chosenCity && !cities) || !cities"
          (selection)="citySelected($event)"></app-searchbar-with-dropdown>
      </div>
    </div>
  </div>
</div>