#container {
    height: 100vh;
    background-image: url("https://source.unsplash.com/lNxMcE8mvIM/1600x900");  // https://source.unsplash.com/lNxMcE8mvIM/1600x900  "https://source.unsplash.com/featured/?{weather},{sunny}"
    background-color: #cccccc; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
