.uppercase {
    text-transform: uppercase;
}

.caps {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.bold {
    font-weight: bold;;
}

.textLeft {
    text-align: left;
}
.textRight {
    text-align: right;
}